Source: nagios-plugins-reactos
Maintainer: Pierre Schweitzer <pierre@reactos.org>
Section: net
Priority: extra
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)

Package: nagios-plugins-reactos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nagios-plugins-basic, python
Description: Plugins for nagios compatible monitoring systems
 Plugins for nagios compatible monitoring systems like Nagios and Icinga. It contains the following plugins:
 .
  check_apcupsd, check_git, check_master.sh, check_openvpn, check_real_disk, check_smart,
  disable_buildmaster_freeze, check_buildmaster_freeze, check_mailman, check_mountpoints,
  check_ram, check_serveraid, check_snort, check_syn, check_vmware_modules
 .
 This package provides the suite of plugins that are used and developed in-house for the ReactOS infrastructure.
Homepage: https://www.reactos.org
